@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gradient-to-br from-[#0f2027] via-[#203a43] to-black text-white min-h-screen;
}
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease;
}

.reveal-active {
  opacity: 1;
  transform: translateY(0);
}